/*Write all of your CSS here*/
.login{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin: 25px;
}
.register{
    display: inline-block;
    width: 200px;
    margin: 25px;


}